.class
.history
.env

# sbt specific
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/activator-sbt*

# Bloop
.bloop
out
project/metals.sbt

# Sublime specific
sublime.sbt
*.sublime
*.sublime-project
*.sublime-workspace

# Data
data/*

# IntelliJ IDEA
.idea/*
.idea_modules/*
projectFilesBackup/

# VS Code
.metals

revision.txt

.DS_Store
local.sbt
