.App {
    text-align: center;
}

.App-logo {
    height: 70px;
}

.App-header {
    background-color: #222;
    height: 120px;
    padding: 15px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
